@charset "UTF-8";
body {
    background-color: rgb(121, 161, 145);
    font-family:Arial, Helvetica, sans-serif;
            font-size: 16px;

    text-align: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;  
}
 
